@font-face {
      font-family: 'Poppins';
      font-weight: 400;
      src: url('../../public/fonts/Poppins-400.woff2') format('woff2');
}

@font-face {
      font-family: 'Poppins';
      font-weight: 700;
      src: url('../../public/fonts/Poppins-700.woff2') format('woff2');
}

* {
      box-sizing: border-box;
}

body {
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      margin: 0;
}